
// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../../jspm_packages/github/driftyco/ionic-bower@1.3.0/fonts" !default;

@import "../../jspm_packages/github/driftyco/ionic-bower@1.3.0/scss/ionic";


// modules
@import "../modules/userProfile/styles/user-profile";

// components


// workarounds

// issue https://github.com/driftyco/ionic/issues/4563
// For a moment there's two <i>-elements inside tab-item, don't allow both to be shown.
.tabs .tab-item i:nth-of-type(2) {
  display: none;
}
