# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

# ide stuff
.idea/
.idea/**/*

# lib/packages
node_modules/
src/jspm_packages/
src/typings/

# app data
src/**/*.js
src/**/*.js.map
src/app/modules/core/config/config.ts
src/app/templates.ts
!src/config.js
**/*.css

#test data
test/coverage/
test/.src/
test/spec/typings
test/spec/**/*.js
test/spec/**/*.js.map

#cordova dir
platforms
plugins

# build dir
www/**/*

# logs
npm-debug.log
