user-profile {

  .navbar {
    margin-top: -20px;

    .active {
      background-color: #009688;
      color: white;
    }
  }

  .avatar-fallback {
    margin: 7px 10px;
    width: 35px;
    height: 35px;
  }
}
